.home-page-layout {
  display: flex;
  flex: 1 1 auto;
  min-height: 0;

  .home-page-left-side-bar {
    flex-basis: 15%;
    max-width: 15%;
    min-width: 180px;
    background: #000;
  }

  .home-page-main-content {
    flex-basis: 70%;
    max-width: 70%;
    min-width: 0;
    background: #fff;
  }

  .home-page-right-side-bar {
    flex-basis: 15%;
    max-width: 15%;
    min-width: 180px;
    background: #000;
  }
}

